@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgb(254 226 226)
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(248 113 113);
    cursor: pointer;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(220 38 38);
  }
  .react-chatbot-kit-chat-btn-send-icon {
  margin:auto
  }